Repository frog-pond/ccc-server, pull requests merged in 2018-05, with the labels that each got.

#37 Fix up Reason calendars
  modules/node_modules/@frogpond/ccc-lib/calendar/reason.mjs
  package-lock.json
  package.json
Labels: enhancement

#41 Clean up .gitignore file
  .gitignore
Labels: enhancement

#43 Implement HTML-to-Markdown conversion
  modules/node_modules/@frogpond/ccc-lib/index.mjs
  modules/node_modules/@frogpond/ccc-lib/url.mjs
  modules/node_modules/@frogpond/ccc-markdown/from-html.mjs
  modules/node_modules/@frogpond/ccc-markdown/index.mjs
  modules/node_modules/@frogpond/ccc-markdown/package.json
  modules/node_modules/@frogpond/ccc-server/index.mjs
  modules/node_modules/@frogpond/ccci-carleton-college/v1/convos/index.mjs
  modules/node_modules/@frogpond/ccci-carleton-college/v1/index.mjs
  modules/node_modules/@frogpond/ccci-carleton-college/v1/util/index.mjs
  modules/node_modules/@frogpond/ccci-stolaf-college/v1/index.mjs
  modules/node_modules/@frogpond/ccci-stolaf-college/v1/util/index.mjs
  package-lock.json
  package.json
Labels: institution:carleton

#49 Add Carleton's EMS calendar
  modules/node_modules/@frogpond/ccc-lib/http.mjs
  modules/node_modules/@frogpond/ccci-carleton-college/v1/calendar/ems.mjs
  modules/node_modules/@frogpond/ccci-carleton-college/v1/calendar/index.mjs
  modules/node_modules/@frogpond/ccci-carleton-college/v1/index.mjs
Labels: enhancement, institution:carleton
